In [2]:
import pandas as pd
import mysql.connector

In [3]:
conn = mysql.connector.connect(host='194.195.118.35',
user='neeraj',
password='Neeraj@!234',
database='itportal')

In [25]:
df_ver_dump = pd.read_sql_query(
    """
    WITH new_dump AS (
        SELECT 
            server_id, 
            server_name, 
            CONVERT(dump USING utf8) AS dump,
            timestamp
        FROM versions
    )
    SELECT 
        server_id, 
        server_name,
        dump, 
        MAX(CASE 
            WHEN dump LIKE '%MySQL version:%' THEN 
                SUBSTRING_INDEX(SUBSTRING_INDEX(dump, 'MySQL version:', -1), '\n', 1)
            END) AS MySQL_Version,
        MAX(CASE 
            WHEN dump LIKE '%PHP version:%' THEN 
                SUBSTRING_INDEX(SUBSTRING_INDEX(dump, 'PHP version:', -1), '\n', 1)
            END) AS PHP_Version,
        MAX(CASE 
            WHEN dump LIKE '%Node.js version:%' THEN 
                SUBSTRING_INDEX(SUBSTRING_INDEX(dump, 'Node.js version:', -1), '\n', 1)
            END) AS Nodejs_Version,
        MAX(CASE 
            WHEN dump LIKE '%MariaDB version:%' THEN 
                SUBSTRING_INDEX(SUBSTRING_INDEX(dump, 'MariaDB version:', -1), '\n', 1)
            END) AS MariaDB_Version,
        MAX(CASE 
            WHEN dump LIKE '%Redis version:%' THEN 
                SUBSTRING_INDEX(SUBSTRING_INDEX(dump, 'Redis version:', -1), '\n', 1)
            END) AS Redis_Version,
        MAX(timestamp) AS latest_timestamp
    FROM new_dump
    GROUP BY server_id, server_name, dump;
    """,
    conn
)

df_ver_dump

C:\Users\COBUY\AppData\Local\Temp\ipykernel_9544\1257228521.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_ver_dump = pd.read_sql_query(

,server_id,server_name,dump,MySQL_Version,PHP_Version,Nodejs_Version,MariaDB_Version,Redis_Version,latest_timestamp
0,29811271,DB-server,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...,mysql Ver 8.0.27-0ubuntu0.21.04.1 for Linux ...,PHP 7.4.16 (cli) (built: Nov 25 2021 21:36:47...,v20.10.0,,,2024-11-23 12:45:04
1,29974548,DevOps_Ansible,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 8.3.10 (cli) (built: Aug 2 2024 15:30:49...,v18.10.0,,Redis server v=5.0.7 sha=00000000:0 malloc=je...,2024-11-23 12:45:04
2,32644732,AppsWeb,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...,mysql Ver 8.0.27-0ubuntu0.21.04.1 for Linux ...,PHP 7.4.16 (cli) (built: Nov 25 2021 21:36:47...,,,,2024-11-23 12:45:04
3,32648802,AppsDBServer,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...,mysql Ver 8.0.27-0ubuntu0.21.04.1 for Linux ...,PHP 7.4.16 (cli) (built: Oct 26 2021 16:46:20...,,,,2024-11-23 12:45:04
4,38294307,dermaclinix,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,"mysql Ver 15.1 Distrib 10.6.18-MariaDB, for ...",PHP 8.1.2-1ubuntu2.19 (cli) (built: Sep 30 20...,v12.22.9,"mariadb Ver 15.1 Distrib 10.6.18-MariaDB, fo...",,2024-11-23 12:45:04
5,38297513,dermaclinix-db,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,"mysql Ver 15.1 Distrib 10.6.18-MariaDB, for ...",PHP 8.1.2-1ubuntu2.19 (cli) (built: Sep 30 20...,,"mariadb Ver 15.1 Distrib 10.6.18-MariaDB, fo...",,2024-11-23 12:45:06
6,38301382,fundbridge_web,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,"mysql Ver 15.1 Distrib 10.6.18-MariaDB, for ...",PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:37)...,v16.20.2,"mariadb Ver 15.1 Distrib 10.6.18-MariaDB, fo...",,2024-11-23 12:45:06
7,38301386,fundbridge_db,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,"mysql Ver 15.1 Distrib 10.6.18-MariaDB, for ...",PHP 8.1.2-1ubuntu2.19 (cli) (built: Sep 30 20...,,"mariadb Ver 15.1 Distrib 10.6.18-MariaDB, fo...",,2024-11-23 12:45:06
8,38534663,mailserver,MySQL version: \nPHP version: \nNode.js versio...,,,,,,2024-11-23 12:45:07
9,38932563,ftp-server,MySQL version: \nPHP version: \nNode.js versio...,,,,,,2024-11-23 12:45:07
10,39368228,Ganpati,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:00)...,,,,2024-11-23 12:45:08
11,39983529,fueasia,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,"mysql Ver 15.1 Distrib 10.6.18-MariaDB, for ...",PHP 8.1.2-1ubuntu2.19 (cli) (built: Sep 30 20...,,"mariadb Ver 15.1 Distrib 10.6.18-MariaDB, fo...",,2024-11-23 12:45:08
12,41870963,proeffico-test2,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,"mysql Ver 15.1 Distrib 10.6.18-MariaDB, for ...",PHP 8.1.2-1ubuntu2.19 (cli) (built: Sep 30 20...,v18.20.4,"mariadb Ver 15.1 Distrib 10.6.18-MariaDB, fo...",,2024-11-23 12:45:08
13,41987422,collaboration,MySQL version: \nPHP version: \nNode.js versio...,,,v20.9.0,,Redis server v=6.0.16 sha=00000000:0 malloc=j...,2024-11-23 12:45:09
14,42198306,websites,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:00)...,,,,2024-11-23 12:45:09
15,42656492,chinmaya,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,mysql Ver 8.0.40-0ubuntu0.22.04.1 for Linux ...,PHP 7.4.33 (cli) (built: Aug 14 2023 06:42:07...,v20.11.1,,,2024-11-23 12:45:10
16,43325165,prolificweb,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 7.4.3-4ubuntu2.24 (cli) (built: Sep 30 20...,v10.19.0,,,2024-11-23 12:45:10
17,44248252,ops360-web,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 8.2.12 (cli) (built: Oct 26 2023 17:33:26...,,,,2024-11-23 12:45:10
18,45465266,sonar,MySQL version: \nPHP version: PHP 8.1.2-1ubunt...,,PHP 8.1.2-1ubuntu2.19 (cli) (built: Sep 30 20...,v16.20.2,,,2024-11-23 12:45:11
19,45703571,smnppl_new,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,"mysql Ver 15.1 Distrib 10.6.18-MariaDB, for ...",PHP 8.1.2-1ubuntu2.19 (cli) (built: Sep 30 20...,v12.22.9,"mariadb Ver 15.1 Distrib 10.6.18-MariaDB, fo...",,2024-11-23 12:45:11
20,46348234,video_call_server,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 7.4.3-4ubuntu2.24 (cli) (built: Sep 30 20...,v10.19.0,,,2024-11-23 12:45:12
21,46590535,gkay-db,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 7.4.3-4ubuntu2.24 (cli) (built: Sep 30 20...,,,,2024-11-23 12:45:12
22,46590542,gkay-api,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:00)...,,,,2024-11-23 12:45:12
23,46590551,gkay-web,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:00)...,,,,2024-11-23 12:45:13
24,47208913,new_base_mc,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,mysql Ver 8.0.40-0ubuntu0.22.04.1 for Linux ...,PHP 8.3.3-1+ubuntu22.04.1+deb.sury.org+1 (cli...,v20.11.1,,,2024-11-23 12:45:13
25,48552564,jenkins,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,mysql Ver 8.0.40-0ubuntu0.22.04.1 for Linux ...,PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:37)...,v16.20.2,,,2024-11-23 12:45:14
26,48631613,Auto-ops-db-new,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...,mysql Ver 8.0.27-0ubuntu0.21.04.1 for Linux ...,PHP 7.4.16 (cli) (built: Oct 26 2021 16:46:20...,,,,2024-11-23 12:45:14
27,48710781,websites2-new,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,mysql Ver 8.0.40-0ubuntu0.22.04.1 for Linux ...,PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:37)...,,,,2024-11-23 12:45:14
28,48779013,hypeworld,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,mysql Ver 8.0.40-0ubuntu0.22.04.1 for Linux ...,PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:37)...,v20.12.2,,,2024-11-23 12:45:15
29,50803360,edh-api,MySQL version: \nPHP version: PHP 8.2.11 (cli)...,,PHP 8.2.11 (cli) (built: Oct 6 2023 09:46:55...,,,,2024-11-23 12:45:15
30,50803696,edh-web,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 8.2.14 (cli) (built: Dec 21 2023 20:19:23...,v20.18.0,,,2024-11-23 12:45:16
31,51106791,afms_gk2,MySQL version: mysql Ver 15.1 Distrib 10.3.38...,"mysql Ver 15.1 Distrib 10.3.38-MariaDB, for ...",PHP 8.2.13 (cli) (built: Nov 24 2023 08:46:50...,v21.4.0,"mariadb Ver 15.1 Distrib 10.3.38-MariaDB, fo...",Redis server v=5.0.7 sha=00000000:0 malloc=je...,2024-11-23 12:45:16
32,52622006,croma_dev,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 7.4.3-4ubuntu2.24 (cli) (built: Sep 30 20...,v18.17.1,,,2024-11-23 12:45:17
33,53494673,dabur,MySQL version: mysql Ver 15.1 Distrib 10.3.38...,"mysql Ver 15.1 Distrib 10.3.38-MariaDB, for ...",PHP 8.2.13 (cli) (built: Nov 24 2023 08:46:50...,v21.4.0,"mariadb Ver 15.1 Distrib 10.3.38-MariaDB, fo...",Redis server v=5.0.7 sha=00000000:0 malloc=je...,2024-11-23 12:45:17
34,54728014,harvestec,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:00)...,,,,2024-11-23 12:45:17
35,54728023,harvestec_web,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 7.4.3-4ubuntu2.24 (cli) (built: Sep 30 20...,v18.17.1,,,2024-11-23 12:45:18
36,55336018,flutterGis,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,mysql Ver 8.0.40-0ubuntu0.22.04.1 for Linux ...,PHP 8.3.3-1+ubuntu22.04.1+deb.sury.org+1 (cli...,v18.19.1,,,2024-11-23 12:45:18
37,56287100,abgyan_new,MySQL version: \nPHP version: PHP 8.1.2-1ubunt...,,PHP 8.1.2-1ubuntu2.19 (cli) (built: Sep 30 20...,v20.11.1,,,2024-11-23 12:45:19
38,56651042,gk2_web_prod,MySQL version: mysql Ver 15.1 Distrib 10.3.38...,"mysql Ver 15.1 Distrib 10.3.38-MariaDB, for ...",PHP 8.2.13 (cli) (built: Nov 24 2023 08:46:50...,v21.4.0,"mariadb Ver 15.1 Distrib 10.3.38-MariaDB, fo...",Redis server v=5.0.7 sha=00000000:0 malloc=je...,2024-11-23 12:45:19
39,56651101,gk2_prod_backend,MySQL version: mysql Ver 15.1 Distrib 10.3.38...,"mysql Ver 15.1 Distrib 10.3.38-MariaDB, for ...",PHP 8.2.13 (cli) (built: Nov 24 2023 08:46:50...,v21.4.0,"mariadb Ver 15.1 Distrib 10.3.38-MariaDB, fo...",Redis server v=5.0.7 sha=00000000:0 malloc=je...,2024-11-23 12:45:19
40,57121733,wa_bot_almighty,MySQL version: mysql Ver 8.0.39-0ubuntu0.22.0...,mysql Ver 8.0.39-0ubuntu0.22.04.1 for Linux ...,PHP 8.3.6 (cli) (built: Apr 11 2024 20:23:38)...,v20.11.1,,,2024-11-23 12:45:20
41,58096110,abgyan_dev,MySQL version: \nPHP version: PHP 8.1.2-1ubunt...,,PHP 8.1.2-1ubuntu2.19 (cli) (built: Sep 30 20...,v20.11.1,,,2024-11-23 12:45:20
42,58346913,decision_engine,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,mysql Ver 8.0.40-0ubuntu0.22.04.1 for Linux ...,PHP 8.3.7 (cli) (built: May 23 2024 12:36:32)...,v20.11.1,,,2024-11-23 12:45:21
43,59325731,jump_server,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,mysql Ver 8.0.40-0ubuntu0.22.04.1 for Linux ...,PHP 7.4.33 (cli) (built: Sep 27 2024 04:13:27...,v20.11.1,,,2024-11-23 12:45:21
44,59370899,monitoring_new,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 8.0.30 (cli) (built: Aug 14 2023 06:42:24...,,,,2024-11-23 12:45:21
45,61266974,cc_db,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,"mysql Ver 15.1 Distrib 10.6.18-MariaDB, for ...",PHP 8.3.3-1+ubuntu22.04.1+deb.sury.org+1 (cli...,v20.11.1,"mariadb Ver 15.1 Distrib 10.6.18-MariaDB, fo...",,2024-11-23 12:45:22
46,61476831,devops_trial_mc,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,mysql Ver 8.0.40-0ubuntu0.22.04.1 for Linux ...,PHP 8.3.3-1+ubuntu22.04.1+deb.sury.org+1 (cli...,v20.11.1,,,2024-11-23 12:45:22
47,63203877,smnppl,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,mysql Ver 8.0.40-0ubuntu0.20.04.1 for Linux ...,PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:00)...,,,,2024-11-23 12:45:22
48,63659083,glowright_ui,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,mysql Ver 8.0.40-0ubuntu0.22.04.1 for Linux ...,PHP 8.3.11 (cli) (built: Aug 30 2024 09:27:49...,v20.11.1,,,2024-11-23 12:45:23
49,63659251,glowright_api,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,"mysql Ver 15.1 Distrib 10.6.18-MariaDB, for ...",PHP 8.3.13 (cli) (built: Oct 30 2024 11:27:41...,v20.11.1,"mariadb Ver 15.1 Distrib 10.6.18-MariaDB, fo...",,2024-11-23 12:45:23
50,64079787,mavi_care,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,mysql Ver 8.0.40-0ubuntu0.22.04.1 for Linux ...,PHP 8.3.3-1+ubuntu22.04.1+deb.sury.org+1 (cli...,v20.11.1,,,2024-11-23 12:45:23
51,64128349,prolificapp_cron,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,mysql Ver 8.0.40-0ubuntu0.22.04.1 for Linux ...,PHP 8.3.11 (cli) (built: Aug 30 2024 09:27:49...,v20.11.1,,,2024-11-23 12:45:23

In [4]:
df_versions = pd.read_sql_query(
    "select server_id, server_name, convert(dump using utf8) as binary_to_text from versions",conn
)

df_versions.head()

C:\Users\COBUY\AppData\Local\Temp\ipykernel_9544\3723510337.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_versions = pd.read_sql_query(

,server_id,server_name,binary_to_text
0,29811271,DB-server,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...
1,29974548,DevOps_Ansible,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...
2,32644732,AppsWeb,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...
3,32648802,AppsDBServer,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...
4,38294307,dermaclinix,MySQL version: mysql Ver 15.1 Distrib 10.6.18...

In [14]:
df_cc = df_versions.copy()

In [15]:
df_cc.head()

,server_id,server_name,binary_to_text
0,29811271,DB-server,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...
1,29974548,DevOps_Ansible,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...
2,32644732,AppsWeb,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...
3,32648802,AppsDBServer,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...
4,38294307,dermaclinix,MySQL version: mysql Ver 15.1 Distrib 10.6.18...

In [16]:
df_cc['binary_to_text']

0     MySQL version: mysql  Ver 8.0.27-0ubuntu0.21.0...
1     MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
2     MySQL version: mysql  Ver 8.0.27-0ubuntu0.21.0...
3     MySQL version: mysql  Ver 8.0.27-0ubuntu0.21.0...
4     MySQL version: mysql  Ver 15.1 Distrib 10.6.18...
5     MySQL version: mysql  Ver 15.1 Distrib 10.6.18...
6     MySQL version: mysql  Ver 15.1 Distrib 10.6.18...
7     MySQL version: mysql  Ver 15.1 Distrib 10.6.18...
8     MySQL version: \nPHP version: \nNode.js versio...
9     MySQL version: \nPHP version: \nNode.js versio...
10    MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
11    MySQL version: mysql  Ver 15.1 Distrib 10.6.18...
12    MySQL version: mysql  Ver 15.1 Distrib 10.6.18...
13    MySQL version: \nPHP version: \nNode.js versio...
14    MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
15    MySQL version: mysql  Ver 8.0.40-0ubuntu0.22.0...
16    MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
17    MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
18    MySQL version: \nPHP version: PHP 8.1.2-1ubunt...
19    MySQL version: mysql  Ver 15.1 Distrib 10.6.18...
20    MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
21    MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
22    MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
23    MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
24    MySQL version: mysql  Ver 8.0.40-0ubuntu0.22.0...
25    MySQL version: mysql  Ver 8.0.40-0ubuntu0.22.0...
26    MySQL version: mysql  Ver 8.0.27-0ubuntu0.21.0...
27    MySQL version: mysql  Ver 8.0.40-0ubuntu0.22.0...
28    MySQL version: mysql  Ver 8.0.40-0ubuntu0.22.0...
29    MySQL version: \nPHP version: PHP 8.2.11 (cli)...
30    MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
31    MySQL version: mysql  Ver 15.1 Distrib 10.3.38...
32    MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
33    MySQL version: mysql  Ver 15.1 Distrib 10.3.38...
34    MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
35    MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
36    MySQL version: mysql  Ver 8.0.40-0ubuntu0.22.0...
37    MySQL version: \nPHP version: PHP 8.1.2-1ubunt...
38    MySQL version: mysql  Ver 15.1 Distrib 10.3.38...
39    MySQL version: mysql  Ver 15.1 Distrib 10.3.38...
40    MySQL version: mysql  Ver 8.0.39-0ubuntu0.22.0...
41    MySQL version: \nPHP version: PHP 8.1.2-1ubunt...
42    MySQL version: mysql  Ver 8.0.40-0ubuntu0.22.0...
43    MySQL version: mysql  Ver 8.0.40-0ubuntu0.22.0...
44    MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
45    MySQL version: mysql  Ver 15.1 Distrib 10.6.18...
46    MySQL version: mysql  Ver 8.0.40-0ubuntu0.22.0...
47    MySQL version: mysql  Ver 8.0.40-0ubuntu0.20.0...
48    MySQL version: mysql  Ver 8.0.40-0ubuntu0.22.0...
49    MySQL version: mysql  Ver 15.1 Distrib 10.6.18...
50    MySQL version: mysql  Ver 8.0.40-0ubuntu0.22.0...
51    MySQL version: mysql  Ver 8.0.40-0ubuntu0.22.0...
Name: binary_to_text, dtype: object

In [17]:
import re
import pandas as pd

# List of byte strings (as shown in your input)
data = [
       b'MySQL version: mysql  Ver 8.0.27-0ubuntu0.21.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 7.4.16 (cli) (built: Nov 25 2021 21:36:47) ( NTS )\nCopyright (c) The PHP Group\nZend Engine v3.4.0, Copyright (c) Zend Technologies\n    with Zend OPcache v7.4.16, Copyright (c), by Zend Technologies\nNode.js version: v20.10.0\nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.20.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 8.3.10 (cli) (built: Aug  2 2024 15:30:49) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.3.10, Copyright (c) Zend Technologies\n    with Zend OPcache v8.3.10, Copyright (c), by Zend Technologies\nNode.js version: v18.10.0\nMariaDB version: \nRedis version: Redis server v=5.0.7 sha=00000000:0 malloc=jemalloc-5.2.1 bits=64 build=66bd629f924ac924\n',
       b'MySQL version: mysql  Ver 8.0.27-0ubuntu0.21.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 7.4.16 (cli) (built: Nov 25 2021 21:36:47) ( NTS )\nCopyright (c) The PHP Group\nZend Engine v3.4.0, Copyright (c) Zend Technologies\n    with Zend OPcache v7.4.16, Copyright (c), by Zend Technologies\nNode.js version: \nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.27-0ubuntu0.21.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 7.4.16 (cli) (built: Oct 26 2021 16:46:20) ( NTS )\nCopyright (c) The PHP Group\nZend Engine v3.4.0, Copyright (c) Zend Technologies\n    with Zend OPcache v7.4.16, Copyright (c), by Zend Technologies\nNode.js version: \nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 15.1 Distrib 10.6.18-MariaDB, for debian-linux-gnu (x86_64) using  EditLine wrapper\nPHP version: PHP 8.1.2-1ubuntu2.19 (cli) (built: Sep 30 2024 16:25:25) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.1.2, Copyright (c) Zend Technologies\n    with Zend OPcache v8.1.2-1ubuntu2.19, Copyright (c), by Zend Technologies\nNode.js version: v12.22.9\nMariaDB version: mariadb  Ver 15.1 Distrib 10.6.18-MariaDB, for debian-linux-gnu (x86_64) using  EditLine wrapper\nRedis version: \n',
       b'MySQL version: mysql  Ver 15.1 Distrib 10.6.18-MariaDB, for debian-linux-gnu (x86_64) using  EditLine wrapper\nPHP version: PHP 8.1.2-1ubuntu2.19 (cli) (built: Sep 30 2024 16:25:25) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.1.2, Copyright (c) Zend Technologies\n    with Zend OPcache v8.1.2-1ubuntu2.19, Copyright (c), by Zend Technologies\nNode.js version: \nMariaDB version: mariadb  Ver 15.1 Distrib 10.6.18-MariaDB, for debian-linux-gnu (x86_64) using  EditLine wrapper\nRedis version: \n',
       b'MySQL version: mysql  Ver 15.1 Distrib 10.6.18-MariaDB, for debian-linux-gnu (x86_64) using  EditLine wrapper\nPHP version: PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:37) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.2.9, Copyright (c) Zend Technologies\n    with Zend OPcache v8.2.9, Copyright (c), by Zend Technologies\nNode.js version: v16.20.2\nMariaDB version: mariadb  Ver 15.1 Distrib 10.6.18-MariaDB, for debian-linux-gnu (x86_64) using  EditLine wrapper\nRedis version: \n',
       b'MySQL version: \nPHP version: PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:00) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.2.9, Copyright (c) Zend Technologies\n    with Zend OPcache v8.2.9, Copyright (c), by Zend Technologies\nNode.js version: v10.19.0\nMariaDB version: \nRedis version: \n',
       b'MySQL version: \nPHP version: \nNode.js version: \nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.20.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:00) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.2.9, Copyright (c) Zend Technologies\n    with Zend OPcache v8.2.9, Copyright (c), by Zend Technologies\nNode.js version: \nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 15.1 Distrib 10.6.18-MariaDB, for debian-linux-gnu (x86_64) using  EditLine wrapper\nPHP version: PHP 8.1.2-1ubuntu2.19 (cli) (built: Sep 30 2024 16:25:25) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.1.2, Copyright (c) Zend Technologies\n    with Zend OPcache v8.1.2-1ubuntu2.19, Copyright (c), by Zend Technologies\nNode.js version: v18.20.4\nMariaDB version: mariadb  Ver 15.1 Distrib 10.6.18-MariaDB, for debian-linux-gnu (x86_64) using  EditLine wrapper\nRedis version: \n',
       b'MySQL version: \nPHP version: \nNode.js version: v20.9.0\nMariaDB version: \nRedis version: Redis server v=6.0.16 sha=00000000:0 malloc=jemalloc-5.2.1 bits=64 build=a3fdef44459b3ad6\n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 7.4.33 (cli) (built: Aug 14 2023 06:42:07) ( NTS )\nCopyright (c) The PHP Group\nZend Engine v3.4.0, Copyright (c) Zend Technologies\n    with Zend OPcache v7.4.33, Copyright (c), by Zend Technologies\nNode.js version: v20.11.1\nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.20.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 7.4.3-4ubuntu2.24 (cli) (built: Sep 30 2024 18:16:20) ( NTS )\nCopyright (c) The PHP Group\nZend Engine v3.4.0, Copyright (c) Zend Technologies\n    with Zend OPcache v7.4.3-4ubuntu2.24, Copyright (c), by Zend Technologies\nNode.js version: v10.19.0\nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.20.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 8.2.12 (cli) (built: Oct 26 2023 17:33:26) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.2.12, Copyright (c) Zend Technologies\n    with Zend OPcache v8.2.12, Copyright (c), by Zend Technologies\nNode.js version: \nMariaDB version: \nRedis version: \n',
       b'MySQL version: \nPHP version: PHP 8.1.2-1ubuntu2.19 (cli) (built: Sep 30 2024 16:25:25) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.1.2, Copyright (c) Zend Technologies\n    with Zend OPcache v8.1.2-1ubuntu2.19, Copyright (c), by Zend Technologies\nNode.js version: v16.20.2\nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.20.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 7.4.3-4ubuntu2.24 (cli) (built: Sep 30 2024 18:16:20) ( NTS )\nCopyright (c) The PHP Group\nZend Engine v3.4.0, Copyright (c) Zend Technologies\n    with Zend OPcache v7.4.3-4ubuntu2.24, Copyright (c), by Zend Technologies\nNode.js version: \nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 8.3.3-1+ubuntu22.04.1+deb.sury.org+1 (cli) (built: Feb 15 2024 18:38:52) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.3.3, Copyright (c) Zend Technologies\n    with Zend OPcache v8.3.3-1+ubuntu22.04.1+deb.sury.org+1, Copyright (c), by Zend Technologies\nNode.js version: v20.11.1\nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:37) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.2.9, Copyright (c) Zend Technologies\n    with Zend OPcache v8.2.9, Copyright (c), by Zend Technologies\nNode.js version: v16.20.2\nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:37) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.2.9, Copyright (c) Zend Technologies\n    with Zend OPcache v8.2.9, Copyright (c), by Zend Technologies\nNode.js version: \nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 8.2.9 (cli) (built: Aug 16 2023 19:49:37) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.2.9, Copyright (c) Zend Technologies\n    with Zend OPcache v8.2.9, Copyright (c), by Zend Technologies\nNode.js version: v20.12.2\nMariaDB version: \nRedis version: \n',
       b'MySQL version: \nPHP version: PHP 8.2.11 (cli) (built: Oct  6 2023 09:46:55) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.2.11, Copyright (c) Zend Technologies\n    with Zend OPcache v8.2.11, Copyright (c), by Zend Technologies\nNode.js version: \nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.20.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 8.2.14 (cli) (built: Dec 21 2023 20:19:23) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.2.14, Copyright (c) Zend Technologies\n    with Zend OPcache v8.2.14, Copyright (c), by Zend Technologies\nNode.js version: v10.19.0\nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 15.1 Distrib 10.3.38-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2\nPHP version: PHP 8.2.13 (cli) (built: Nov 24 2023 08:46:50) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.2.13, Copyright (c) Zend Technologies\n    with Zend OPcache v8.2.13, Copyright (c), by Zend Technologies\nNode.js version: v21.4.0\nMariaDB version: mariadb  Ver 15.1 Distrib 10.3.38-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2\nRedis version: Redis server v=5.0.7 sha=00000000:0 malloc=jemalloc-5.2.1 bits=64 build=66bd629f924ac924\n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.20.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 7.4.3-4ubuntu2.24 (cli) (built: Sep 30 2024 18:16:20) ( NTS )\nCopyright (c) The PHP Group\nZend Engine v3.4.0, Copyright (c) Zend Technologies\n    with Zend OPcache v7.4.3-4ubuntu2.24, Copyright (c), by Zend Technologies\nNode.js version: v18.17.1\nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 8.3.3-1+ubuntu22.04.1+deb.sury.org+1 (cli) (built: Feb 15 2024 18:38:52) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.3.3, Copyright (c) Zend Technologies\n    with Zend OPcache v8.3.3-1+ubuntu22.04.1+deb.sury.org+1, Copyright (c), by Zend Technologies\nNode.js version: v18.19.1\nMariaDB version: \nRedis version: \n',
       b'MySQL version: \nPHP version: PHP 8.1.2-1ubuntu2.19 (cli) (built: Sep 30 2024 16:25:25) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.1.2, Copyright (c) Zend Technologies\n    with Zend OPcache v8.1.2-1ubuntu2.19, Copyright (c), by Zend Technologies\nNode.js version: v20.11.1\nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 8.3.6 (cli) (built: Apr 11 2024 20:23:38) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.3.6, Copyright (c) Zend Technologies\n    with Zend OPcache v8.3.6, Copyright (c), by Zend Technologies\nNode.js version: v20.11.1\nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 8.3.7 (cli) (built: May 23 2024 12:36:32) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.3.7, Copyright (c) Zend Technologies\n    with Zend OPcache v8.3.7, Copyright (c), by Zend Technologies\nNode.js version: v20.11.1\nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.20.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 8.0.30 (cli) (built: Aug 14 2023 06:42:24) ( NTS )\nCopyright (c) The PHP Group\nZend Engine v4.0.30, Copyright (c) Zend Technologies\n    with Zend OPcache v8.0.30, Copyright (c), by Zend Technologies\nNode.js version: \nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 15.1 Distrib 10.6.18-MariaDB, for debian-linux-gnu (x86_64) using  EditLine wrapper\nPHP version: PHP 8.3.3-1+ubuntu22.04.1+deb.sury.org+1 (cli) (built: Feb 15 2024 18:38:52) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.3.3, Copyright (c) Zend Technologies\n    with Zend OPcache v8.3.3-1+ubuntu22.04.1+deb.sury.org+1, Copyright (c), by Zend Technologies\nNode.js version: v20.11.1\nMariaDB version: mariadb  Ver 15.1 Distrib 10.6.18-MariaDB, for debian-linux-gnu (x86_64) using  EditLine wrapper\nRedis version: \n',
       b'MySQL version: mysql  Ver 8.0.39-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))\nPHP version: PHP 8.3.11 (cli) (built: Aug 30 2024 09:27:49) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.3.11, Copyright (c) Zend Technologies\n    with Zend OPcache v8.3.11, Copyright (c), by Zend Technologies\nNode.js version: v20.11.1\nMariaDB version: \nRedis version: \n',
       b'MySQL version: mysql  Ver 15.1 Distrib 10.6.18-MariaDB, for debian-linux-gnu (x86_64) using  EditLine wrapper\nPHP version: PHP 8.3.11 (cli) (built: Aug 30 2024 09:27:49) (NTS)\nCopyright (c) The PHP Group\nZend Engine v4.3.11, Copyright (c) Zend Technologies\n    with Zend OPcache v8.3.11, Copyright (c), by Zend Technologies\nNode.js version: v20.11.1\nMariaDB version: mariadb  Ver 15.1 Distrib 10.6.18-MariaDB, for debian-linux-gnu (x86_64) using  EditLine wrapper\nRedis version: \n'

]

# # Regular expression patterns for each version
# patterns = {
#     "MySQL": r"MySQL version: (mysql.*?|mariadb.*?)\n",
#     "PHP": r"PHP version: (PHP [^\n]*)",
#     "Node.js": r"Node\.js version: (v[^\n]*)",
#     "MariaDB": r"MariaDB version: (mariadb.*?|mysql.*?)?\n",
#     "Redis": r"Redis version: (Redis server.*?|.*)\n",
# }

# # Parse each byte string
# results = []
# for entry in data:
#     entry_str = entry.decode("utf-8")
#     parsed_entry = {key: re.search(pattern, entry_str).group(1).strip() if re.search(pattern, entry_str) else None 
#                     for key, pattern in patterns.items()}
#     results.append(parsed_entry)

# # Create a DataFrame
# df = pd.DataFrame(results)

# # Display the DataFrame
# print(df)


# Convert the byte strings to strings
data = [entry.decode('utf-8') for entry in data]

# Regular expressions for extracting versions
patterns = {
    "MySQL": r"MySQL version:.*?Ver\s([\d.]+)",
    "PHP": r"PHP version: PHP\s([\d.]+)",
    "Node.js": r"Node\.js version:\s*v([\d.]+)",
    "MariaDB": r"MariaDB version:.*?Ver\s([\d.]+)",
    "Redis": r"Redis version:.*?v=([\d.]+)"
}

# Function to extract versions based on patterns
def extract_versions(text, patterns):
    versions = {}
    for key, pattern in patterns.items():
        match = re.search(pattern, text)
        versions[key] = match.group(1) if match else None
    return versions

# Apply the extraction to all entries
parsed_data = [extract_versions(entry, patterns) for entry in data]

# Create a DataFrame
df = pd.DataFrame(parsed_data)

# Display the DataFrame
print(df)

     MySQL     PHP  Node.js MariaDB   Redis
0   8.0.27  7.4.16  20.10.0    None    None
1   8.0.39  8.3.10  18.10.0    None   5.0.7
2   8.0.27  7.4.16     None    None    None
3   8.0.27  7.4.16     None    None    None
4     15.1   8.1.2  12.22.9    15.1    None
5     15.1   8.1.2     None    15.1    None
6     15.1   8.2.9  16.20.2    15.1    None
7     None   8.2.9  10.19.0    None    None
8     None    None     None    None    None
9   8.0.39   8.2.9     None    None    None
10    15.1   8.1.2  18.20.4    15.1    None
11    None    None   20.9.0    None  6.0.16
12  8.0.39  7.4.33  20.11.1    None    None
13  8.0.39   7.4.3  10.19.0    None    None
14  8.0.39  8.2.12     None    None    None
15    None   8.1.2  16.20.2    None    None
16  8.0.39   7.4.3     None    None    None
17  8.0.39   8.3.3  20.11.1    None    None
18  8.0.39   8.2.9  16.20.2    None    None
19  8.0.39   8.2.9     None    None    None
20  8.0.39   8.2.9  20.12.2    None    None
21    None  8.2.11     None    None    None
22  8.0.39  8.2.14  10.19.0    None    None
23    15.1  8.2.13   21.4.0    15.1   5.0.7
24  8.0.39   7.4.3  18.17.1    None    None
25  8.0.39   8.3.3  18.19.1    None    None
26    None   8.1.2  20.11.1    None    None
27  8.0.39   8.3.6  20.11.1    None    None
28  8.0.39   8.3.7  20.11.1    None    None
29  8.0.39  8.0.30     None    None    None
30    15.1   8.3.3  20.11.1    15.1    None
31  8.0.39  8.3.11  20.11.1    None    None
32    15.1  8.3.11  20.11.1    15.1    None

In [18]:
df

     MySQL     PHP  Node.js MariaDB   Redis
0   8.0.27  7.4.16  20.10.0    None    None
1   8.0.39  8.3.10  18.10.0    None   5.0.7
2   8.0.27  7.4.16     None    None    None
3   8.0.27  7.4.16     None    None    None
4     15.1   8.1.2  12.22.9    15.1    None
5     15.1   8.1.2     None    15.1    None
6     15.1   8.2.9  16.20.2    15.1    None
7     None   8.2.9  10.19.0    None    None
8     None    None     None    None    None
9   8.0.39   8.2.9     None    None    None
10    15.1   8.1.2  18.20.4    15.1    None
11    None    None   20.9.0    None  6.0.16
12  8.0.39  7.4.33  20.11.1    None    None
13  8.0.39   7.4.3  10.19.0    None    None
14  8.0.39  8.2.12     None    None    None
15    None   8.1.2  16.20.2    None    None
16  8.0.39   7.4.3     None    None    None
17  8.0.39   8.3.3  20.11.1    None    None
18  8.0.39   8.2.9  16.20.2    None    None
19  8.0.39   8.2.9     None    None    None
20  8.0.39   8.2.9  20.12.2    None    None
21    None  8.2.11     None    None    None
22  8.0.39  8.2.14  10.19.0    None    None
23    15.1  8.2.13   21.4.0    15.1   5.0.7
24  8.0.39   7.4.3  18.17.1    None    None
25  8.0.39   8.3.3  18.19.1    None    None
26    None   8.1.2  20.11.1    None    None
27  8.0.39   8.3.6  20.11.1    None    None
28  8.0.39   8.3.7  20.11.1    None    None
29  8.0.39  8.0.30     None    None    None
30    15.1   8.3.3  20.11.1    15.1    None
31  8.0.39  8.3.11  20.11.1    None    None
32    15.1  8.3.11  20.11.1    15.1    None

In [20]:
df_cc.loc[:,['MySQL', 'PHP', 'Node.js', 'MariaDB', 'Redis']] = df.loc[:,['MySQL', 'PHP', 'Node.js', 'MariaDB', 'Redis']]

In [41]:
df.columns

Index(['MySQL', 'PHP', 'Node.js', 'MariaDB', 'Redis'], dtype='object')

In [21]:
df_cc.head()

,server_id,server_name,binary_to_text,MySQL,PHP,Node.js,MariaDB,Redis
0,29811271,DB-server,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...,8.0.27,7.4.16,20.10.0,None,None
1,29974548,DevOps_Ansible,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,8.0.39,8.3.10,18.10.0,None,5.0.7
2,32644732,AppsWeb,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...,8.0.27,7.4.16,None,None,None
3,32648802,AppsDBServer,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...,8.0.27,7.4.16,None,None,None
4,38294307,dermaclinix,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,15.1,8.1.2,12.22.9,15.1,None

In [22]:
df_cc

,server_id,server_name,binary_to_text,MySQL,PHP,Node.js,MariaDB,Redis
0,29811271,DB-server,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...,8.0.27,7.4.16,20.10.0,None,None
1,29974548,DevOps_Ansible,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,8.0.39,8.3.10,18.10.0,None,5.0.7
2,32644732,AppsWeb,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...,8.0.27,7.4.16,None,None,None
3,32648802,AppsDBServer,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...,8.0.27,7.4.16,None,None,None
4,38294307,dermaclinix,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,15.1,8.1.2,12.22.9,15.1,None
5,38297513,dermaclinix-db,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,15.1,8.1.2,None,15.1,None
6,38301382,fundbridge_web,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,15.1,8.2.9,16.20.2,15.1,None
7,38301386,fundbridge_db,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,None,8.2.9,10.19.0,None,None
8,38534663,mailserver,MySQL version: \nPHP version: \nNode.js versio...,None,None,None,None,None
9,38932563,ftp-server,MySQL version: \nPHP version: \nNode.js versio...,8.0.39,8.2.9,None,None,None
10,39368228,Ganpati,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,15.1,8.1.2,18.20.4,15.1,None
11,39983529,fueasia,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,None,None,20.9.0,None,6.0.16
12,41870963,proeffico-test2,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,8.0.39,7.4.33,20.11.1,None,None
13,41987422,collaboration,MySQL version: \nPHP version: \nNode.js versio...,8.0.39,7.4.3,10.19.0,None,None
14,42198306,websites,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,8.0.39,8.2.12,None,None,None
15,42656492,chinmaya,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,None,8.1.2,16.20.2,None,None
16,43325165,prolificweb,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,8.0.39,7.4.3,None,None,None
17,44248252,ops360-web,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,8.0.39,8.3.3,20.11.1,None,None
18,45465266,sonar,MySQL version: \nPHP version: PHP 8.1.2-1ubunt...,8.0.39,8.2.9,16.20.2,None,None
19,45703571,smnppl_new,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,8.0.39,8.2.9,None,None,None
20,46348234,video_call_server,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,8.0.39,8.2.9,20.12.2,None,None
21,46590535,gkay-db,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,None,8.2.11,None,None,None
22,46590542,gkay-api,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,8.0.39,8.2.14,10.19.0,None,None
23,46590551,gkay-web,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,15.1,8.2.13,21.4.0,15.1,5.0.7
24,47208913,new_base_mc,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,8.0.39,7.4.3,18.17.1,None,None
25,48552564,jenkins,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,8.0.39,8.3.3,18.19.1,None,None
26,48631613,Auto-ops-db-new,MySQL version: mysql Ver 8.0.27-0ubuntu0.21.0...,None,8.1.2,20.11.1,None,None
27,48710781,websites2-new,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,8.0.39,8.3.6,20.11.1,None,None
28,48779013,hypeworld,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,8.0.39,8.3.7,20.11.1,None,None
29,50803360,edh-api,MySQL version: \nPHP version: PHP 8.2.11 (cli)...,8.0.39,8.0.30,None,None,None
30,50803696,edh-web,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,15.1,8.3.3,20.11.1,15.1,None
31,51106791,afms_gk2,MySQL version: mysql Ver 15.1 Distrib 10.3.38...,8.0.39,8.3.11,20.11.1,None,None
32,52622006,croma_dev,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,15.1,8.3.11,20.11.1,15.1,None
33,53494673,dabur,MySQL version: mysql Ver 15.1 Distrib 10.3.38...,NaN,NaN,NaN,NaN,NaN
34,54728014,harvestec,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,NaN,NaN,NaN,NaN,NaN
35,54728023,harvestec_web,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,NaN,NaN,NaN,NaN,NaN
36,55336018,flutterGis,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,NaN,NaN,NaN,NaN,NaN
37,56287100,abgyan_new,MySQL version: \nPHP version: PHP 8.1.2-1ubunt...,NaN,NaN,NaN,NaN,NaN
38,56651042,gk2_web_prod,MySQL version: mysql Ver 15.1 Distrib 10.3.38...,NaN,NaN,NaN,NaN,NaN
39,56651101,gk2_prod_backend,MySQL version: mysql Ver 15.1 Distrib 10.3.38...,NaN,NaN,NaN,NaN,NaN
40,57121733,wa_bot_almighty,MySQL version: mysql Ver 8.0.39-0ubuntu0.22.0...,NaN,NaN,NaN,NaN,NaN
41,58096110,abgyan_dev,MySQL version: \nPHP version: PHP 8.1.2-1ubunt...,NaN,NaN,NaN,NaN,NaN
42,58346913,decision_engine,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,NaN,NaN,NaN,NaN,NaN
43,59325731,jump_server,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,NaN,NaN,NaN,NaN,NaN
44,59370899,monitoring_new,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,NaN,NaN,NaN,NaN,NaN
45,61266974,cc_db,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,NaN,NaN,NaN,NaN,NaN
46,61476831,devops_trial_mc,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,NaN,NaN,NaN,NaN,NaN
47,63203877,smnppl,MySQL version: mysql Ver 8.0.40-0ubuntu0.20.0...,NaN,NaN,NaN,NaN,NaN
48,63659083,glowright_ui,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,NaN,NaN,NaN,NaN,NaN
49,63659251,glowright_api,MySQL version: mysql Ver 15.1 Distrib 10.6.18...,NaN,NaN,NaN,NaN,NaN
50,64079787,mavi_care,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,NaN,NaN,NaN,NaN,NaN
51,64128349,prolificapp_cron,MySQL version: mysql Ver 8.0.40-0ubuntu0.22.0...,NaN,NaN,NaN,NaN,NaN